* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #D5D8F1;
  .logo {
    width: 70%;
    height: 25%;
    background-color: #D4A87D;
  }
  .main_nav {
    display: flex;
    align-items: center;
    width: 70%;
    height: 8%;
    background-color: #215163;
    ul {
      width: 100%;
      border: 1px solid yellow;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        list-style-type: none;
        a {
          color: #fff;
          text-transform: uppercase;
          font-size: 130%;
          text-decoration: none;
        }
      }
    }
  }
}
